.contenedor {
    width: 40%;
    padding: 2rem;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

mat-form-field{
    width: 80%;
    margin: .5rem auto;
}



